html {
    font-size: calc(15px + 0.390625vw);
    background-color: var(--background);
    transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, p ,a{
    color: var(--onBackground);
    word-wrap: normal;
    white-space: normal;
    text-decoration: none;
}
h1 {font-size: 1.8rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 0.9rem;}
h7 {font-size: 0.5rem;}
p {
    font-size: 0.7rem;
}
span{font-size: 0.7rem;}

.animate {
    opacity: 0;
}

    .animate.in-view.slideRight {
        animation: slideRight 1s ease forwards;
    }

    .animate.in-view.slideLeft {
        animation: slideLeft 1s ease forwards;
    }

    .animate.in-view.slideTop {
        animation: slideTop 1s ease forwards;
    }

    .animate.in-view.slideBottom {
        animation: slideBottom 1s ease forwards;
    }

    .animate.in-view.showText {
        animation: showText 0.5s linear forwards;
    }
@keyframes showText {
    100% {
        opacity: 1;
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


button {
    overflow: hidden;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0 2rem 0;
    background: var(--primary);
    color: var(--white);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    transition: transform 0.4s, background 0.8s ease;
    background-position: center;
}
    button:hover {
        transform: translateY(-1px);
        background: #2196f3 radial-gradient(circle, transparent 1%, #00b0ff 1%) center/15000%;
    }

    button:active {
        background-color: #2196f3;
        background-size: 100%;
        transition: background 0s;
    }

.floatBtn {
    position: fixed;
    display: flex;
    border-radius: 50%;
    bottom: 25px;
    right: 20px;
    z-index: 8;
}

    .floatBtn button {
        height: 35px;
        width: 35px;
        margin: 0;
        padding: 0.5rem;
        border-radius: 50%;
        outline: 1px solid var(--outline);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    }


section{
    min-height: 100vh;
}


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar-button {
    display: none;
}


/*========== MAIN ==========*/

main {
    margin: 40px 0 0 40px;
    overflow-x: hidden;
}

/*========== FOOTER ==========*/


.footer {
    width: 100%;
    text-align: center;
    background-color: var(--surface2);
    z-index: 8;
    border-top: 1px solid var(--outline);
}
.footer p{
    color: var(--onBackground);
    padding: 0.4rem;
}
.footer label{
    text-decoration: underline;
    cursor: pointer;
    color: var(--onBackground);
    font-size: 0.8rem;
}
    .footer a {
        color: var(--onBackground);
        text-decoration: underline;
    }

/* Popup styles (hidden by default) */
.privacy-checkbox, .terms-checkbox {
    display: none;
}

.privacy-popup, .terms-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    justify-content: center;
    z-index: 1000;
    overflow: auto;
    pointer-events: none;
}

.popup-content {
    margin: 1rem;
    position: relative;
}

    .popup-content .box {
        overflow: auto;
        pointer-events: all;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .popup-content .box ::-webkit-scrollbar-button {
        display: none;
    }

    .privacy-popup div::-webkit-scrollbar, .terms-popup::-webkit-scrollbar {
        display: none;
    }

.privacy-popup .close-btn, .terms-popup .close-btn {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    color: red;
    cursor: pointer;
    padding: 0;
    border-radius: 25%;
    transition: 0.1s all ease;
}
        .privacy-popup .close-btn:hover, .terms-popup .close-btn:hover {
            background: color-mix(in srgb, var(--primary) 12%, transparent);
        }

/* Show popup when checkbox is checked */
.privacy-checkbox:checked ~ .privacy-popup, .terms-checkbox:checked ~ .terms-popup {
    display: flex;
}


/*========== HEADER ==========*/

.titleBar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--outline);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: var(--surface1);
    z-index: 8;
    transition: all 0.5s ease-in-out;
}

.sideBar {
      position: fixed;
      top: 40px;
      left: 0;
      height: calc(100vh - 40px);
      width: 40px;
      background: var(--surface2);
      color: var(--onSurface);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--outline);
      transition: all 0.3s ease;
      z-index: 999;
}

    .sideBar:hover {
        width: 25vw;
    }
        .sideBar:hover ~ .overlay {
            visibility: visible;
            opacity: 1;
        }
        .sideBar:hover .sideBarText {
            opacity: 1;
        }

.sideBarItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
    cursor: pointer;
    border-radius: 16px;
    margin: 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

    .sideBarItem:hover,
    .sideBarItem:has(.bx.selected) {
        background: color-mix(in srgb, var(--primary) 12%, transparent);
        cursor: pointer;
        transform: scale(0.99);
        color: var(--onBackground);
    }
        .sideBarItem:hover span,
        .sideBarItem:has(.bx.selected) span {
            color: var(--onBackground);
        }

    .sideBarText {
        opacity: 0;
        color: var(--onSurface);
        white-space: nowrap;
        overflow: hidden;
        transition: opacity 0.25s ease 0.1s;
    }

.overlay-min {
    position: fixed;
    top: 40px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 9;
    background-color: rgb(0,0,0,0.3);
    transition: all 0.5s;
    pointer-events: none;
    visibility: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* ========= OVERLAY ===========*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 9;
    background-color: rgb(0,0,0,0.3);
    transition: all 0.5s;
    pointer-events: none;
    visibility: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.overlay.show{
    visibility: visible;
    opacity:1;
    pointer-events:auto;
    z-index:100;
}


/* ========= POPUP ===========*/
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: flex;
    flex-direction: column;
    background: var(--surface1);
    color: var(--onSurface);
    width: 30%;
    height: 40%;
    padding: 20px;
    justify-content: center;
    border-radius: 32px;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22), 0 5px 14px 0 rgba(0, 0, 0, 0.18);
    transform: scale(0.7);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .popup.show {
        opacity: 1;
        transform: scale(1);
    }

    .popup button {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .popup div {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }


/* ========= TOAST ===========*/
.toast {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 15px;
    right: 15px;
    background: var(--surface2);
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    outline: 1px solid var(--outline);
    z-index: 10;
}
.toast button{
    margin: 0.5rem;
}
.onError {
    background-color: var(--onError);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .onError:hover {
        background: #D40000 radial-gradient(circle, transparent 1%, #F21E1E 1%) center/15000%;
    }

.toast .links{
    text-decoration: underline;
}
    .toast .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

/*========== INTRO ==========*/

#Intro{
    display: block;
}
#GPA, #CGPA, #Target{
    display: none;
}

.container {
    max-width: 70vw;
    padding: 2rem;
    text-align: center;
    margin: 2rem auto;
}
#Intro {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    position: relative; 
}

    #Intro img {
        width: 80vw;
        border-radius: 1rem;
    }

.text-overlay {
    position: absolute; 
    top: 5rem;
    width: 100%;
    text-align: center;
    z-index: 4;
}
#Intro h2, #Intro h3{
    color: white;
}
.IntroTxt {
    display: flex;
    flex-direction: row;
}


/*========== WIDGETS ==========*/

label{
    color: var(--onBackground);
    padding: 0.5rem;
}

select, input {
    padding: 0.3rem;
    border: 2px solid #ddd;
    background: var(--white);
    transition: all 1s;
    font-size: 0.7rem;
}

option {
    display: flex;
    justify-content: flex-start;
    border: 2px solid #ddd;
    background: #eee;
    padding: 0.5rem;
    transition: 0.4s;
    font-size: 0.7rem;
}

    option:first-of-type {
        border-radius: 8px 8px 0 0;
    }

    option:last-of-type {
        border-radius: 0 0 8px 8px;
    }

    option:not(option:last-of-type) {
        border-bottom: none;
    }

    option:nth-of-type(odd) {
        background: #fff;
    }

    option:hover,
    option:focus {
        background: #1e90ff;
    }

selectedcontent .icon {
    display: none;
}

.rndBox {
    display: flex;
    flex-direction: column;
    background-color: var(--surface2);
    border-radius: 16px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    outline: 1px solid var(--outline);
}
.container.rndBox{
    margin: 1rem auto;
}

table {
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

th, td {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 0.7rem;
}

#gpa-table h3{
    padding: 1rem;
}


/*========== MOBILE ==========*/


@media (max-width: 767px) {
    main {
        margin-left: 0;
    }

    /*========== OTHER ==========*/

    .footer {
        margin-bottom: 4rem;
    }

    /*========== HEADER ==========*/
    #menu{
        display: none;
    }
    .titleBar {
        left: 0;
        width: 100vw;
        align-items: center;
        padding: 0.5rem;
        z-index:999;
    }
    .sideBar{
        background-color: var(--surface2);
        position: fixed;
        bottom: 0;
        top: auto;
        padding:0.5rem;
        height: 4rem;
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 1px solid var(--outline);
    }

    .sideBarItem {
        color: #b3b3b3;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap:0;
    }
        .sideBarItem:hover {
            background-color: transparent;
        }

    .sideBarText{
        margin: 0;
        opacity:1;
        color: #b3b3b3;
    }
    .sideBar:hover{
        height: 4rem;
        width: 100vw;
    }
    .bx {
        padding: 0.25rem;
        transition: all.5s;
    }
        .bx.selected {
            border-radius: 1rem;
            background-color: color-mix(in srgb, var(--primary) 50%, transparent);
            padding-left: 1rem;
            padding-right: 1rem;
            color: var(--onBackground)
        }
    .sideBarItem:hover, .sideBarItem:has(.bx.selected) {
        background: transparent;
        transform: scale(1);
    }

    .titleBar h3{
        font-size: .9rem;
    }

    /*========== INTRO ==========*/


    #Intro h2{
        font-size: 1rem;
    }
    #Intro h4{
        font-size: 0.8rem;
    }
    .IntroTxt {
        flex-direction: column;
    }
    #Intro img {
        height: 50vh;
        object-fit: cover;
        border-radius: 1rem;
        width: calc(100vw - 1rem);
    }

    /*========== WIDGETS ==========*/

    .container {
        max-width: 100%;
        width: calc(100vw - 1rem);
        padding: 1rem;
    }
    #gpa-table {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
        #gpa-table::-webkit-scrollbar {
            display: none;
        }
        #gpa-table h3, #gpa-table span{
            font-size: 1rem;
        }

    #subjectsTableCGPA {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

        #subjectsTableCGPA::-webkit-scrollbar {
            display: none;
        }
    #subjectsTableCGPA h3{
        font-size: 1rem;
    }

    .popup{
        width:90%;
        height: auto;
    }

    .floatBtn{
        bottom: 4.3rem;
    }
    .toast{
        bottom: 4.2rem;
        right:auto;
    }
}