/* ============ LIGHT THEME ========== */
:root {
    --white: #fff;
    --black: #000;

    --background: #fcfcfc;
    --surface1: #F8F9FA;
    --surface2: #FFFFFF;
    --primary: #00b0ff;

    --onBackground: #333;
    --onSurface: #5F6368;
    --onPrimary: #202124;

    --onError: #F21E1E;
    
    --outline: #d5d7d5;
}

/* ========= DARK THEME ============ */
[data-theme="dark"] {
    --white: #fff;
    --black: #000;

    --background: #131314;
    --surface1: #1e1f20;
    --surface2: #1F1F1F;
    --primary: #00b0ff;

    --onBackground: #fff;
    --onSurface: #9AA0A6;
    --onPrimary: #E8EAED;

    --onError: #F21E1E;

    --outline: #353737
}
